<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <%= render :partial => "shared/user_info" %>
      <br>
      <%= render :partial => "shared/user_tabs", :locals => { :selected_item => '我的留言' } %>

      <table class="table table-hover user-table">
        <tbody>
          <% @user_replies.each do |reply| %>
            <tr>
              <td><%= link_to reply.post.title, post_path(reply.post) %></td>
              <td><%= reply.content %></td>
              <td>
                <% if current_user.admin? || reply.user == current_user %>
                  <%= link_to '<i class="glyphicon glyphicon-trash" aria-hidden="true"> 刪除</i>'.html_safe, reply_path(reply), method: :delete, data: {confirm:"確定刪除此留言?"}, class: "pull-right btn btn-default btn-sm" %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      
    </div>
  </div>
</div>