<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <%= render :partial => "shared/user_info" %>
      <br>
      <%= render :partial => "shared/user_tabs", :locals => { :selected_item => '我的草稿' } %>

        <table class="table table-hover user-table">
          <tbody>
            <% @user_drafts.each do |post| %>
             <tr>
              <td><%= post.title %></td>
              <td>
                <% if post.status %>
                  Published
                <% else %>
                  Draft
                <% end %>
              </td>
              <td><%= post.created_at.to_s[0..9] %></td>
              <td>
                <% if post.user == current_user %>
                  <div class="pull-right">
                    <%= link_to '<i class="glyphicon glyphicon-pencil" aria-hidden="true"></i>'.html_safe, edit_post_path(post), class: 'btn btn-sm btn-default' %>
                    <%= link_to '<i class="glyphicon glyphicon-trash" aria-hidden="true"></i>'.html_safe, post_path(post), class: 'btn btn-sm btn-default', method: :delete, data: {confirm:"確定刪除這篇草稿？"} %>
                  </div>
                <% end %>
              </td>
            </tr>
            <% end %>
          </tbody>
        </table>  
      </div>
    </div>
  </div>
</div>