<link href="https://fonts.googleapis.com/css?family=Acme" rel="stylesheet">
<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <%= render :partial => "shared/user_info" %>
      <br>
      <%= render :partial => "shared/user_tabs", :locals => { :selected_item => '我的好友' } %>

      <div class="col-md-12">
        <h3 class="user-title"><span>Waiting &nbsp; for &nbsp; response</span></h3>
        <% @pending_friends.each do |friend| %>
          <div class="col-md-2 col-sm-4 col-xs-6 text-center user-box">
            <%= link_to user_path(friend) do %>
              <%= image_tag(friend.avatar, class: "img-rounded") if friend.avatar? %>
              <%= image_tag "http://via.placeholder.com/128x128", class: "img-rounded" unless friend.avatar? %>
              <h4>
                <%= friend.name if friend.name? %>
                <%= friend.email.split("@").first unless friend.name? %>
              </h4>
            <% end %>
            <%= render partial: "shared/friend", locals: {user: friend} %>
          </div>
        <% end %>
      </div>

      <div class="col-md-12">
        <h3 class="user-title"><span>Friend &nbsp; requests</span></h3>
        <% @requested_friends.each do |friend| %>
          <div class="col-md-2 col-sm-4 col-xs-6 text-center user-box">
            <%= link_to user_path(friend) do %>
              <%= image_tag(friend.avatar, class: "img-rounded") if friend.avatar?%>
              <%= image_tag "http://via.placeholder.com/128x128", class: "img-rounded" unless friend.avatar? %>
              <h4>
                <%= friend.name if friend.name? %>
                <%= friend.email.split("@").first unless friend.name? %>
              </h4>
            <% end %>
            <%= render partial: "shared/friend", locals: {user: friend} %>
          </div>
        <% end %>
      </div>

      <div class="col-md-12">
        <h3 class="user-title"><span>My &nbsp; Friends</span></h3>
        <% @friends.each do |friend| %>
          <div class="col-md-2 col-sm-4 col-xs-6 text-center user-box">
            <%= link_to user_path(friend) do %>
              <%= image_tag(friend.avatar, class: "img-rounded") if friend.avatar?%>
              <%= image_tag "http://via.placeholder.com/128x128", class: "img-rounded" unless friend.avatar? %>
              <h4>
                <%= friend.name if friend.name? %>
                <%= friend.email.split("@").first unless friend.name? %>
              </h4>
            <% end %>
            <%= render partial: "shared/friend", locals: {user: friend} %>
          </div>
        <% end %>
      </div>    
    </div>
  </div>
</div>