<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <%= render :partial => "shared/user_info" %>
      <br>
      <%= render :partial => "shared/user_tabs", :locals => { :selected_item => '我的文章' } %>
      <% @user_posts.each do |post| %>
        <div>
          <div>
            <h4><%= post.title %></h4>
            <p><%= post.description %></p>
          </div>
          <div>
            <%= link_to '<i class="glyphicon glyphicon-pencil" aria-hidden="true"> 編輯</i>'.html_safe, edit_post_path(post), class: 'btn btn-primary' %>
            <%= link_to '<i class="glyphicon glyphicon-trash" aria-hidden="true"> 刪除</i>'.html_safe, post_path(post), class: 'btn btn-danger', method: :delete, data: {confirm:"Are you sure?"} %>
          </div>
        </div> <br>
      <% end %>
    </div>
  </div>
</div>