<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <%= render :partial => "shared/user_info" %>
      <br>
      <%= render :partial => "shared/user_tabs", :locals => { :selected_item => '我的文章' } %>

      <table class="table table-hover user-table">
        <tbody>
          <% @user_posts.each do |post| %>
          <tr>
            <td><%= link_to post.title, post_path(post) %></td>
            <td>
              <% if post.status %>
                Published
              <% else %>
                Draft
              <% end %>
            </td>
            <td><%= post.created_at.to_s[0..9] %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
      <% if @user == current_user %>
        <%= link_to 'New Post', new_post_path, class: "btn btn-primary form-control" %>
      <% end %>
    </div>
  </div>
</div>