<link href="https://fonts.googleapis.com/css?family=Sigmar+One" rel="stylesheet">
<nav class="navbar navbar-inverse" style="margin-bottom: 0px;">
  <div class="container-fluid">
     <div class="navbar-header">
       <%= link_to  root_path, class: "navbar-brand" do %>
        <p style="font-family: 'Sigmar One', cursive; font-size: 20px;">Dojo</p> 
       <% end %>
     </div>
     <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
          <li><%= link_to ' Feeds <i class="glyphicon glyphicon-fire" aria-hidden="true"></i>'.html_safe, feeds_posts_path %></li>
          <li><%= link_to ' All Post <i class="glyphicon glyphicon-list" aria-hidden="true"></i>'.html_safe, posts_path %></li>
          <li><%= link_to ' New Post <i class="glyphicon glyphicon-file" aria-hidden="true"></i>'.html_safe, new_post_path %></li>
      </ul>
       <ul class="pull-right text-right nav navbar-nav">
          <% if current_user %>
            <% if current_user.admin? %>
              <li><%= link_to '<i class="glyphicon glyphicon-inbox" aria-hidden="true"></i> '.html_safe, admin_categories_path %></li>
            <% end %>
          <li><p class="navbar-text">Hi, <%= current_user.name if current_user.name? %>
          <%= current_user.email.split("@").first unless current_user.name? %></p></li>
          <li><%= link_to '<i class="glyphicon glyphicon-user" aria-hidden="true"></i> '.html_safe, user_path(current_user) %></li>
          <li><%= link_to('<i class="glyphicon glyphicon-log-out" aria-hidden="true"></i> '.html_safe, destroy_user_session_path, method: :delete) %></li>
          <li><%= link_to('<i class="glyphicon glyphicon-wrench" aria-hidden="true"></i> '.html_safe, edit_user_registration_path) %></li>
          <% else %>
          <li><%= link_to('註冊', new_user_registration_path) %></li>
          <li><%= link_to('<i class="glyphicon glyphicon-log-in" aria-hidden="true"></i> '.html_safe, new_user_session_path) %></li>
         <% end %>
       </ul>
     </div>
  </div>
</nav>