<table class="table table-hover">
  <thead>
    <tr>
      <th style="text-align: center;">
        <%= link_to sort_posts_path(category_id: @category, reply: true)  do %>
          Replies count <i class="glyphicon glyphicon-chevron-down" aria-hidden="true"></i>
        <% end %>
      </th>
      <th style="text-align: center;">Title</th>
      <th style="text-align: center;">
        <%= link_to sort_posts_path(category_id: @category, hot: true)  do %>
          Last replied at <i class="glyphicon glyphicon-chevron-down" aria-hidden="true"></i>
        <% end %>
      </th>
      <th style="text-align: center;">
        <%= link_to sort_posts_path(category_id: @category, view: true)  do %>
          Viewed count <i class="glyphicon glyphicon-chevron-down" aria-hidden="true"></i>
        <% end %>
      </th>
    </tr>
  </thead>
  <tbody style="text-align: center;">
    <% @posts.each do |post| %>
    <tr>
      <td><span  class="label label-warning"><%= post.replies_count %></span></td>
      <td style="text-align: left;">
        <%= link_to post_path(post) do %>
          <%= post.title %>
        <% end %>
      </td>
      <td>
        <% if post.replies_count != 0 %>
          <%= post.replies.last.created_at.to_s[0..9] %>
        <% else %>
          No reply
        <% end %>
      </td>
      <td><i class="glyphicon glyphicon-eye-open" aria-hidden="true"></i> &nbsp;<%= post.viewed_count %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<div class="text-center">
  <%= paginate @posts %>
</div>