<div class="container">
  <div class="col-md-12 post-content">
    <h1>
      <%= @post.title %>
      <span class="post-info">
        Category： <%= @post.categories.map(&:name).join(' | ') %>
      </span>

      <% if @post.is_published? %>
      <div class="pull-right favorite-btn">
        <%= render partial: "shared/favorite", locals: {post: @post} %>
      </div>
      <% else %>
        <small><span class="label label-danger pull-right">Draft</span></small>
      <% end %>
    </h1>
    <hr>

    <div class="col-md-2"  style="text-align: center;">
      <div>
      <%= image_tag @post.user.avatar, width: '150px' %>
      </div>
      <h4>
        <%= link_to @post.user.name, user_path(@post.user) if @post.user.name? %>
        <%= link_to @post.user.email.split("@").first.upcase_first, user_path(@post.user) unless @post.user.name? %>
      </h4>
      <%= render partial: "shared/friend", locals: {user: @post.user} %>
    </div>

    <div class="col-md-10">
      <div>
        <%= image_tag @post.image, width: '600px', style: 'margin:15px' %>
      </div>
      <p><%= @post.description %></p>
      
        <div class="pull-right">
          <% if @post.user == current_user %>
        <%= link_to '<i class="glyphicon glyphicon-pencil" aria-hidden="true"></i>'.html_safe, edit_post_path, class: 'btn btn-primary' %>
        <% end %>
        <% if current_user.admin? || @post.user == current_user %>
        <%= link_to '<i class="glyphicon glyphicon-trash" aria-hidden="true"></i>'.html_safe, post_path(@post), class: 'btn btn-danger', method: :delete, data: {confirm:"確定刪除這篇文章?"} %>
        <% end %>
        </div>
    </div>
  </div>

  <div class="col-md-12" id="replylist">
    <% if @post.status %>
      <% @replies.each do |reply| %>
        <div class="media"  id="<%= reply.id %>">

          <div class="media-left"  style="text-align: center">
          <%= image_tag reply.user.avatar, width: '100px' if reply.user.avatar?%>
            <%= image_tag "http://via.placeholder.com/100x100"  unless reply.user.avatar?%>
          <h5>
            <%= link_to reply.user.name, user_path(reply.user) if reply.user.name? %>
            <%= link_to reply.user.email.split("@").first.upcase_first, user_path(reply.user) unless reply.user.name? %> 
          </h5>
          <%= render partial: "shared/friend", locals: {user: reply.user} %>
          </div>

          <div class="media-body" style="padding-left: 30px;">
            <p class="reply-content"><%= reply.content %></p>
            <% if current_user.admin? || reply.user == current_user %>
              <div class="pull-right">
                <span class="edit-reply btn btn-default btn-sm glyphicon glyphicon-pencil"></span>
                <%= link_to '<i class="glyphicon glyphicon-trash" aria-hidden="true"></i>'.html_safe, reply_path(reply), method: :delete, data: {confirm:"確定刪除此留言?"}, class: "btn btn-default btn-sm" %>
              </div>
            <% end %>
          </div>
          <hr>
        </div>
      <% end %>
      <div class="text-center">
        <%= paginate  @replies  %>
      </div>

      <%= form_for  @reply do |f| %>
        <div class="form-group">
          <%= f.text_area :content, placeholder: "add comment", class: "form-control", style: 'height: 150px; border-radius: 20px;' %>
        </div>
        <div class="form-group">
          <%= hidden_field_tag :post_id, @post.id %>
          <%= f.submit  'Submit', :class => 'btn btn-primary' %>
        </div>
      <% end %>
      
    <% end %>
  </div>
</div>

<script>
$("#replylist").on("click", ".edit-reply", function(event) {

  var id = event.target.parentNode.parentNode.parentNode.id;

  console.log(id);

  var content = $("#" + id).find(".reply-content");
  var textColumn = $("#" + id).find(".media-body");
  textColumn.html($("#edit-template").html());
  textColumn.find(".update-content").val(content.html());
      
  // Update Action
  textColumn.one("click", ".update-button", function(updateEvent){
    updateEvent.preventDefault();
    var id = updateEvent.target.parentNode.parentNode.id;


    $.ajax({
      url: "/replies/" + id ,
      method: "PATCH",
      dataType: "json",
      data: {
        reply: {
          content: textColumn.find(".update-content").val()
        }
      },
      success: function(updateData) {
        var textColumn = $("#" + id).find(".media-body");
        var content = textColumn.find(".update-content").val();
        console.log(content);
        console.log(id);

        textColumn.html('<p class="reply-content"></p> <div class=\"pull-right\"></div>');
        textColumn.find(".reply-content").html(content);

        textColumn.find('div').append("<span class=\"edit-reply btn btn-default btn-sm glyphicon glyphicon-pencil\"></span>");
        textColumn.find('div').append("<a data-confirm=\"確定刪除此留言?\" class=\"btn btn-default btn-sm\" rel=\"nofollow\" data-method=\"delete\" href=\"/posts/" + post_id + "/replies/"+ id +"\"><i class=\"glyphicon glyphicon-trash\" aria-hidden=\"true\"></i></a>");

      }
    });
  });
});
</script>

<script type="text/template" id="edit-template">
  <input type="text_area" class="update-content form-control" style="height:80px;" />
  <br>
  <button class="update-button pull-right btn btn-primary" type="submit">Update</button>
</script>



