<div class="container">
  <%= render :partial => "shared/admin_tabs", :locals => { :selected_item => 'User List' } %>
  <div class="row">
    <div class="col-md-12">

      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Role</th>
          </tr>
        </thead>
        <tbody>
          <% @users.each do |user| %>
          <tr>
            <td><%= link_to user.name, user_path(user) if user.name? %>
                <%= link_to user.email.split("@").first.upcase_first, user_path(user) unless user.name? %>
            </td>
            <td><%= user.email %></td>
            <td>
              <%= form_for [:admin, user] do |f| %>
                <%= f.select(:role, [['Admin', 'admin'], ['Normal', 'normal']]) %>
                <%= f.submit "Update", class: "btn-sm btn-primary" %>
              <% end %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>

    </div>
  </div>
</div>